:root {
    --primary: #000080;
}

/* .mb-3 {
    
    color: red;

    padding: 10px 100px;
    size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
} */

/* body {
    display: inline-block;
    background-color: green;

} */

/* .fld--temp {
    size: 100px;
}

.lbl--tmp {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #000080;
}

.text-muted {
    size: 1000px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #000080;
} */